@font-face {
    font-family: Digital;
    src: url('digital.ttf');
}

body {
    padding: 2em;
    background-color: #848484;
    color: #DF013A;
}

#frontplate {
   background-color: #BDBDBD;
   width: 21em;
   padding: 1.5em;
   border: 2px solid #faefc4;
   -webkit-border-radius: 1.5em;
   -moz-border-radius: 1.5em;
   border-radius: 1.5em;
}

#jura {
    float: left;
    padding: 0;
}

h1 {
  font-size: 1.5em;
  width: auto; 
  margin-right: 2.5em;
  text-align: center;
}

#info {
  background: #A9F5F2;
  color: #DF013A;
  width: 15em;
  padding: 0.5em;
  margin-bottom: 1em;
  font-family: Digital;
  font-size: 1.25em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  border: 2px solid #faefc4;
}

#forms {
  float: left;
}

#coffee_form {
  margin-right: 0.3em;
  float: left;
}

#water_form {
  float: right;
}

#buttons {
  clear: left;
}

input {
  width: 160px;
  height: 3em;
  font-size:0.5em;
  padding: 0.3em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  border: 2px solid #faefc4;
  margin-bottom: 1em;
}
a {
  text-decoration: none;
  color: #DF013A;
}

a.visited {
  color: #DF013A;
}

a.active {
  color: #DF013A;
}

button {
    background-color: #636363;
    padding: 0.5em;
    width: 10em;
    border: 2px solid #faefc4;
    font-size: 1em;
    color: #DF013A;
    
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    border-radius: 1.5em;
}

#info_control {
  padding-top: 0.3em;
}
