<!DOCYTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/css/master.css" type="text/css" />
    <title>WebCoffeeMachine running with Sinatra</title>
  </head>
  <body>
    <h1>WebCoffeeMachine</h1>
    <img src="/images/water.jpg">
  </body>
</html>